@white: rgb(255, 255, 255);
@lightgreen: rgb(99, 209, 187);
@darkgreen: rgb(86, 195, 178);
@grayback: rgb(241, 241, 241);
@darkgrey: rgb(68, 68, 68);
@lightgrey: rgba(68, 68, 68, 0.3);
@lightgreyborder: rgb(236, 236, 236);
@black: rgb(0, 0, 0);
@blackhov: rgba(0, 0, 0, 0.6);
@blackact: rgba(0, 0, 0, 0.3);
