.btn {
  display: block;
  padding: 16px 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @darkgrey;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border: 2px solid @darkgrey;

  &--with-marg {
    margin: 0 30px;
  }

  &--green {
    width: 100%;
    line-height: 17px;
    color: @white;
    border: none;
    background-color: @lightgreen;
  }
}
@media (min-width: @tablet-width) {
  .btn {
    padding: 16px 42px;
    &--with-marg {
      align-self: center;
    }
  }
}