.btn {
  display: block;
  margin: 0 30px 35px 30px;
  padding: 16px 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @darkgrey;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @darkgrey;
}
