.catalog__item {
  margin-bottom: 30px;
  border: 1px solid @lightgreyborder;
}

.catalog__img-wrap {
  display: block;
  margin-bottom: 28px;
}

.catalog__wrapper {
  margin: 0 28px;
}

.catalog__item-title {
  margin: 0 0 14px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__item-descr {
  margin: 0;
  padding-bottom: 26px;
  font-size: 13px;
  line-height: 30px;
  color: @darkgrey;
}

.catalog__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @lightgreyborder;
}

.catalog__item-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.catalog__btn {
  display: block;
  width: 120px;
  height: 73px;
  padding: 26px 0 26px 100px;
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    display: flex;
  }
  .catalog__img-wrap {
    width: 50%;
    margin: 0;
  }
  .catalog__image {

  }
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 333px;
    margin: 0;
    padding: 28px 28px 0;
  }
  .catalog__item-title {
    font-size: 17px;
    margin: 0 0 5px;
  }
  .catalog__item-descr {
    font-size: 15px;
    padding: 0;
  }
  .catalog__price-block {
    margin: auto 5px 0;
  }

}
