.categories {
  margin: 0 0 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.categories__list {
  .list;
  color: @white;
}

.categories__item {

  &--interior {
    color: inherit;
    background-color: @lightgreen;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: right 37px center;
  }

  &--toys {
    color: inherit;
    background-color: @darkgreen;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: right 27px center;
  }
}

.categories__link {
  display: block;
  padding: 28px 30px 29px;
  color: inherit;
}

.categories__text {
  display: inline-block;
  width: 114px;
}

@media (min-width: @tablet-width) {
  .categories {
    margin: -117px 0 55px;

    padding: 0 50px;
    font-size: 20px;
    line-height: 30px;
  }
  .categories__list {
    display: flex;
  }
  .categories__item {
    flex-basis: 50%;
  }
  .categories__link {
    padding: 29px 37px;
  }
  .categories__item {
    &--toys {
      background-position: right 34px center;
    }
  }
}
