.categories {
  .indent;
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.categories__list {
  .indent;
}

.categories__item {
  .list;
}

.categories__item--interior {
  color: @white;
  background-color: @lightgreen;
}

.categories__item--toys {
  color: @white;
  background-color: @darkgreen;
}

.categories__link {
  display: inline-block;
  color: @white;
  padding: 28px 30px 29px;
  width: 100%;
}

.categories__text {
  display: inline-block;
  width: 114px;
}
