.contacts {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 40px;
  padding-top: 43px;
}

.contacts__title {
  margin: 0 0 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__block {
  display: flex;
  width: 100%;
  margin-bottom: 44px;
  font-size: 15px;
  line-height: 30px;
  color: @darkgrey;
}

.contacts__label {
  flex-basis: 30%;
}

.contacts__value {
  flex-basis: 60%;
}
