.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-top: 41px;
}
.contacts__wrap {
  margin-bottom: 7px;
}
.contacts__title {
  margin: 0 0 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__block {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  color: @darkgrey;
}

.contacts__label {
  flex-basis: 30%;
}

.contacts__value {
  flex-basis: 60%;
}

.contacts__text {
  display: inline-block;
  border-bottom: 1px solid rgb(98, 209, 186);

  &:hover {
    color: rgb(70, 193, 174);
    border-color: rgb(70, 193, 174);
  }

  &:active {
    color: rgb(211, 237, 232);
    border-color: rgb(236, 249, 247);
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 28px;
    margin-bottom: 57px;
  }
  .contacts__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__title {
    width: 100%;
    margin: 0;
    padding: 48px 167px 48px 0;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right 2px center;
  }

  .contacts__block {
    width: 50%;
    font-size: 17px;
    margin-bottom: 49px;
  }

  .contacts__label {
    flex-basis: 23%;
  }

  .contacts__value {
    flex-basis: 77%;
  }

  .contacts__btn {
    display: block;
    padding: 14px 38px;
    align-self: center;
    margin: 0 auto;
  }
}

@media (min-width: @desk-width) {
  .contacts {
    position: relative;
    width: 1050px;
    margin: 0 auto 54px;
    padding-top: 95px;
  }

  .contacts__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 50px;
    padding: 0 575px 0 175px;
  }

  .contacts__title {
    margin-left: -175px;
    margin-top: 14px;
    padding: 50px 0 49px 175px;
    background-position: left 65px center;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__block {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__label {
    flex-basis: 26%;
  }

  .contacts__value {
    flex-basis: 74%;
  }

  .contacts__btn {
    margin-right: auto;
  }
}
