.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.features__title {
  padding-top: 30px;
  padding-bottom: 30px;
}
.features__list {
  .indent;
}

.features__item {
  .indent;
  .list;
  padding: 57px 0 28px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @black;
}
