.page-title {
  background-color: @grayback;
  margin-bottom: 30px;
  border-top: 1px solid @lightgreyborder;

  &--with-image {
    margin-bottom: 0;
    background-color: rgb(249, 249, 249);
    background-image: url("../img/hero-mobile.jpg");
    background-position: center top -19px;
    background-repeat: no-repeat;
    background-size: 575px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.page-title__text {
  margin: 0;
  padding: 70px 0 76px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  box-sizing: content-box;

  &--with-image {
    min-height: 142px;
  }
}

@media (min-width: @tablet-width) {
  .page-title {
    position: relative;
    margin: -55px 0 82px;

    &--with-image {
      margin: -55px 0 0;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center 0;
      background-size: 1150px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 24px;
        width: 100%;
        background-image: url("../img/bg-zigzag-fill.svg");
        background-size: auto 100%;
        background-repeat: repeat-x;
        z-index: 1;
      }
    }
  }

  .page-title__text {
    padding: 95px 0 78px;
    font-size: 43px;
    line-height: 50px;

    &--with-image {
      min-height: 470px;
      padding: 153px 0 118px;
    }
  }
}

@media (min-width: @desk-width) {
  .page-title {
    margin: -60px 0 133px;

    &--with-image {
      margin: -60px 0 0;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center 0;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }

      &::after {
        bottom: -20px;
        height: 37px;
        background-position: 14px;
      }
    }
  }

  .page-title__text {
    padding: 94px 0 100px;
    font-size: 53px;
    line-height: 57px;

    &--with-image {
      padding: 154px 0 118px;
    }
  }
}
