.page-header {
  position: relative;
}

.page-header__container {
  .greyborder;
  padding: 22px 30px 21px;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: @lightgreyborder;
}

.page-header__humburger-btn {
  position: absolute;
  top: 0;
  right: 0;
  .indent;
  border: none;
  width: 80px;
  height: 80px;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
}

.page-header__menu {
  //position: absolute;
  //top: 100%;
  //right: 0;
  //left: 0;
  display: block;
}
