.page-footer {
  background-color: @grayback;
}

.page-footer__logo {
  display: none;
}

.page-footer__author-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 24px;
  font-size: 19px;
  font-weight: 700;
  line-height: 34px;
  border-top: 1px solid rgb(229, 229, 229);
}

.page-footer__author-icon {
  margin: 4px 2px 0 28px;
  fill: @lightgreen;
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
  }

  .page-footer__logo {
    display: inline;
    flex-basis: ~"calc(0.33 * (100% - 100px))";
    fill: @black;
    font-size: 0;
    vertical-align: middle;

    &:hover,
    &:focus {
      fill: @lightgreen;
    }

    &:active {
      fill: @transpgreen;
    }
  }

  .page-footer__author-link {
    justify-content: flex-end;
    flex-basis: ~"calc(0.33 * (100% - 100px))";
    margin: 0;
    padding: 23px 0;
    border: none;
    color: @black;
    outline: none;

    &:hover .page-footer__author-icon,
    &:focus .page-footer__author-icon {
      fill: rgb(70, 193, 194);
    }

    &:active {
      color: rgb(168, 168, 168);
    }

    &:active .page-footer__author-icon {
      fill: rgb(189, 227, 211);
    }
  }
}
