.page-footer {
  background-color: @grayback;
}

.page-footer__author-link {
  .marg;
  display: block;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  padding: 23px;
  border-top: 1px solid @lightgreyborder;
}

.page-footer__author-icon {
  fill: @lightgreen;
}
