.page-footer {
  background-color: @grayback;
}
.page-footer__logo {
  display: none;
}
.page-footer__author-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 23px 0;
  margin: 0 30px;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  border-top: 1px solid @lightgreyborder;
}

.page-footer__author-icon {
  margin-left: 30px;
  fill: @lightgreen;
}
@media (min-width: @tablet-width) {
  .page-footer {
    padding: 31px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__logo {
    display: inline;
    vertical-align: middle;
    flex-basis: ~"calc(0.33 * (100% - 100px))";
  }
  .page-footer__author-link {
    border: none;
    padding: 23px 0;
    margin: 0;
    flex-basis: ~"calc(0.33 * (100% - 100px))";
  }
}
@media (min-width: @desc-width) {
  .page-footer {
    padding: 31px 100px;
  }
}