.page-header {
  position: relative;
}

.page-header__container {
  padding: 22px 30px 21px;
  text-align: center;
  border: 1px solid @lightgreyborder;
  border-right: 0;
  border-left: 0;
}

.page-header__humburger-btn {
  .indent;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
}

.page-header__menu {
  //position: absolute;
  //top: 100%;
  //right: 0;
  //left: 0;
}
