.page-header {
  position: relative;
  border: 1px solid @lightgreyborder;
  border-right: 0;
  border-left: 0;
}

.page-header__container {
  padding: 22px 30px 21px;
  text-align: center;
}

.page-header__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

.page-header__humburger-toggle {
  display: none;

  &:checked ~ .page-header__humburger-label {
    background: url("../img/icon-menu-close.svg") no-repeat center center;
  }

  &:checked ~ .page-header__menu {
    display: block;
  }
}

.page-header__humburger-label {
  width: 80px;
  height: 81px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .page-header__humburger-label {
    display: none;
  }

  .page-header__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
  }

  .page-header__container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 50px;
  }
}
