.product {
  margin-bottom: 35px;
}

.product__title {
  margin-bottom: 28px;
}

.product__tag {
  display: block;
  margin-top: 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @lightgreen;
  text-transform: uppercase;
}

.product__descr {
  .text;
  margin:0 0 20px;
  color: @darkgrey;
}

.product__param {
  width: 260px;
  margin-bottom: 30px;
}

.product__price {
  margin: 28px 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @darkgrey;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .product__title {
    margin: 0 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__tag {
    display: inline;
    max-width: 72px;
    margin: 0 28px 0 0;
    text-align: center;
  }
  .product__descr {
    min-width: 668px;
    margin-bottom: 37px;
    padding-right: 378px;
    font-size: 17px;
    line-height: 30px;
  }
  .product__param {
    margin-right: 378px;
    margin-bottom: 55px;
    min-width: 290px;
  }
  .product__price {
    padding-right: 378px;
    min-width: 668px;
    margin: 0 0 33px;
  }
  .product__btn {
    margin-right: 378px;
  }
  .product__image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  .product__image {
    height: ~"calc(100% - 105px)";
    width: 100%;
  }
}
@media (min-width: @desc-width) {
  .product__title {
    margin: 58px 0 47px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
  .product__tag {
    order: -1;
    display: inline;
    max-width: 172px;
    padding: 0 53px 0 46px;
    text-align: center;
    margin: 0;
  }
  .product__descr {
    min-width: 1050px;
    padding: 0 575px 0 175px;
    margin-bottom: 55px;
  }
  .product__param {
    margin: 0 575px 110px 175px;
    min-width: 290px;
  }

  .product__price {
    padding: 0 575px 0 175px;
    min-width: 1050px;
  }
  .product__btn {
    margin: 0 575px 0 175px;
  }
  .product__image {
    height: 100%;
    width: 100%;
  }
}