.product {
  margin-bottom: 35px;
}
.product__title {
  margin-bottom: 6px;
}

.product__tag {
  .indent;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @lightgreen;
  text-transform: uppercase;
}

.product__descr {
  .text;
  margin: 28px 0 20px;
  color: @darkgrey;
}

.product__param {
  width: 260px;
}

.product__price {
  margin: 28px 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @darkgrey;
}
