.product {
  position: relative;
  padding-bottom: 41px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    height: 7px;
    width: 320px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position-x: -6px;
  }
}

.product__title {
  margin-bottom: 25px;
}

.product__tag {
  display: block;
  margin-top: 4px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: @lightgreen;
  text-transform: uppercase;
}

.product__descr {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 17px;
  color: @darkgrey;
}

.product__param {
  width: 260px;
  margin-bottom: 28px;
}

.product__price {
  margin: 25px 0 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @darkgrey;
}

@media (min-width: @tablet-width) {
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

    &::before {
      height: 17px;
      width: 768px;
      background-position-x: -16px;
    }
  }

  .product__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 49px -3px;
  }

  .product__tag {
    display: inline;
    max-width: 72px;
    margin: 5px 28px 0 0;
    text-align: center;
    line-height: 17px;
  }

  .product__descr {
    min-width: 668px;
    margin-bottom: 35px;
    padding-right: 378px;
    font-size: 17px;
    line-height: 30px;
  }

  .product__param {
    min-width: 290px;
    margin-right: 378px;
    margin-bottom: 58px;
  }

  .product__price {
    min-width: 668px;
    margin: 0 0 33px;
    padding-right: 378px;
    font-size: 20px;
  }

  .product__btn {
    margin-right: 378px;
    margin-left: -2px;
  }

  .product__image-container {
    position: absolute;
    top: 105px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    width: 50%;
    overflow: hidden;
  }

  .product__image-wrap {
    position: relative;
    overflow: hidden;
  }

  .product__image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    max-width: auto;
    transform: translateX(-50%);
  }
}

@media (min-width: @desk-width) {
  .product {
    padding-bottom: 96px;

    &::before {
      height: 23px;
      width: 1050px;
      background-position-x: -20px;
    }
  }

  .product__title {
    justify-content: flex-start;
    align-items: center;
    margin: 52px 0 48px -1px;
    z-index: 2;
  }

  .product__tag {
    order: -1;
    display: inline;
    max-width: 172px;
    margin: 6px 0 0;
    padding: 0 53px 0 46px;
    text-align: center;
  }

  .product__descr {
    min-width: 1050px;
    margin-bottom: 50px;
    padding: 0 575px 0 175px;
  }

  .product__param {
    min-width: 290px;
    margin: 0 575px 110px 175px;
  }

  .product__price {
    min-width: 1050px;
    padding: 0 575px 0 168px;
    margin-bottom: 33px;

  }

  .product__btn {
    margin: 0 583px 0 175px;
  }

  .product__image-container {
    top: 0;
    z-index: -1;
  }
}
