.product-parameters {
  .text;
  color: @darkgrey;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.product-parameters__row {
  border-bottom: 1px solid @lightgreyborder;
}

.product-parameters__item {
  padding: 15px 34px 11px 0;
}
@media (min-width: @tablet-width) {
  .product-parameters__item {
    padding: 21px 30px 15px 0;
  }
}
