.product-parameters {
  .indent;
  .text;
  color: @darkgrey;
  border-collapse: collapse;
}

.product-parameters__item {
  padding: 12px 28px 12px 0;
  .greyborder;
}

.product-parameters__value {
  .greyborder;
}
