.reviews {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  padding-top: 32px;
  padding-bottom: 32px;
}

.reviews__item {
  .indent;
  margin: 0 30px 32px;
  font-size: 15px;
  line-height: 30px;
  color: @darkgrey;
}
