.reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 51px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    height: 7px;
    width: 320px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position-x: -6px;
  }
}

.reviews__title {
  margin-bottom: 23px;
  margin-left: -2px;
}

.reviews__slider {
  margin-bottom: 28px;
}

.reviews__item {
  margin: 0 0 29px;
  font-size: 15px;
  line-height: 30px;
  color: @darkgrey;
}

.reviews__author {
  margin: 0 0 3px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

.reviews__mail {
  font-size: 17px;
  line-height: 30px;
  color: @darkgrey;
}

.reviews__nav {
  display: flex;
  margin-bottom: 38px;
  text-align: center;
}

.reviews__nav-btn {
  position: relative;
  width: 50%;
  height: 52px;
  padding: 0;
  font-size: 0;
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid @lightgreyborder;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    margin-left: -1px;
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    min-height: 460px;
    padding-bottom: 85px;

    &::before {
      height: 17px;
      width: 768px;
      background-position-x: -19px;
      background-size: 768px 17px;
      background-repeat: repeat-x;
    }
  }

  .rewiews__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 77px 0 47px;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      content: "";
      width: 350px;
      background-image: url("../img/review@1x.jpg");
      background-color: @grayback;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/review@2x.jpg ");
      }
    }
  }

  .reviews__title {
    margin-bottom: 48px;
    margin-left: -5px;
  }

  .reviews__btn {
    align-self: start;
    order: 1;
    margin-top: 2px;
    padding: 14px 37px 14px 39px;
  }

  .reviews__slider {
    order: 2;
    margin: 0;
  }

  .reviews__item {
    font-size: 17px;
    margin-bottom: 58px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__nav {
    position: absolute;
    right: 0;
    bottom: 49px;
    width: 175px;
    margin: 0;
  }

  .reviews__nav-btn {
    border: none;
  }
}

@media (min-width: @desk-width) {
  .reviews {
    padding-bottom: 91px;

    &::before {
      height: 23px;
      width: 1050px;
      background-position-x: -27px;
      background-size: auto 21px;
    }
  }

  .rewiews__wrap {
    padding: 70px 0 95px 175px;

    &::before {
      left: 0;
    }
  }

  .reviews__title {
    margin-left: -3px;
  }

  .reviews__nav {
    bottom: 98px;
    right: 0;
  }

  .reviews__slider {
    max-width: 770px;
  }

  .reviews__item {
    margin-bottom: 39px;
  }

  .reviews__btn {
    margin-top: 8px;
  }
}
