.section {
  margin: 0;

  &--with-marg {
    padding: 0 30px;
  }
}

.section__title {
  .indent;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
@media (min-width: @tablet-width) {
  .section--with-marg {
    padding: 0 50px;
  }
}

@media (min-width: @desc-width) {
  .section--with-marg {
    padding: 0 100px;
  }
}
