.video-block {
  margin-bottom: 58px;
}

.video-block__title {
  margin: 0;
  padding: 25px 28px 25px 89px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left 34px center;
  border: 1px solid @lightgreyborder;
  border-bottom: none;
}

.video-block__player {
  position: relative;
  z-index: 1;
}

.video-block__play-btn {
  .indent;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  background-color: transparent;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  transition-duration: 0.1s;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2, 1.2) translate(-50%, -50%);
  }

  &:active {
    transform: scale(0.8, 0.8) translate(-50%, -50%);
  }
}

.video-block__descr-wrap {
  padding: 25px 34px 32px;
  border: 1px solid @lightgreyborder;
  border-top: none;

  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video-block__descr {
  margin: 0 0 25px;
  font-size: 13px;
  line-height: 24px;
  color: @darkgrey;
}

.video-block__image {
  height: 100%;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .video-block {
    position: relative;
    display: flex;
    margin-bottom: 63px;
  }

  .video-block__wrapper {
    margin-top: 455px;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .video-block__player {
    position: absolute;
    top: 0;
    left: 0;
    height: 455px;
    width: 100%;
    z-index: 1;
  }

  .video-block__descr-wrap {
    padding: 0 40px 45px 40px;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }

  .video-block__descr {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  .video-block__title {
    font-size: 20px;
    padding: 37px 28px 33px 104px;
    background-position: left 40px center;
  }
}

@media (min-width: @desk-width) {
  .video-block {
    display: block;
    position: relative;
    min-height: 457px;
    margin-bottom: 103px;
    padding: 0 0 0 680px;
  }

  .video-block__wrapper {
    margin-top: 0;
  }

  .video-block__title {
    padding: 95px 56px 33px 79px;
    background-position: left 80px top 42px;
  }

  .video-block__descr-wrap {
    padding: 0 57px 59px 80px;
  }

  .video-block__descr {
    margin-bottom: 46px;
  }

  .video-block__player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 680px;
    height: 100%;
    overflow: hidden;
  }

  .video-block__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
  }
}
