.video-block {
  margin-bottom: 60px;
  padding-bottom: 33px;
}

.video-block__title {
  padding: 27px 28px 25px 92px;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left 34px center;
  border: 1px solid @lightgreyborder;
  border-bottom: none;
}

.video-block__player {
  position: relative;
}

.video-block__play-btn {
  .indent;
  border: none;
  font-size: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  transition-duration: 0.1s;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.2, 1.2) translate(-50%, -50%);
  }

  &:active {
    transform: scale(0.8, 0.8) translate(-50%, -50%);
  }
}

.video-block__descr-wrap {
  padding: 32px 34px;
  border: 1px solid @lightgreyborder;
  border-top: none;
}

.video-block__descr {
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: @darkgrey;
}
@media (min-width: @tablet-width) {
  .video-block {
    display: flex;
    flex-direction: column;
  }
  .video-block__player {
    order: -1;
  }
  .video-block__descr-wrap {
    padding-top: 0;
  }
}
