.video-block {
  margin-bottom: 60px;
  padding-bottom: 33px;
  border: 1px solid @lightgreyborder;
}

.video-block__title {
  .indent;
  margin: 0 28px;
  padding: 27px 0 25px 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.video-block__player {
  position: relative;
  margin-bottom: 32px;
}

.video-block__play-btn {
  .indent;
  border: none;
  font-size: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-block__descr {
  .indent;
  margin: 0 42px 28px 33px;
  font-size: 13px;
  line-height: 24px;
  color: @darkgrey;
}
